import React from 'react';
import { Page } from '../types';

interface NavbarProps {
<!-- Cabecera y navegación simple -->
<header>
  <nav class="site-nav">
    <div class="container">
      <a href="/" class="logo">Integra <span class="small">HEALTH &amp; SPORT</span></a>
      <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/nosotros">Sobre Nosotros</a></li>
        <li><a href="/servicios">Nuestros Servicios</a></li>
        <li><a href="/contactos">Contacto</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </div>
  </nav>
</header>