<%- include('../templates/head') %>

<main class="container">
  <h1>404 - No encontrado</h1>
  <p>Lo sentimos, la página no existe.</p>
  <p><a href="/">Volver al inicio</a></p>
</main>

<%- include('../templates/footer') %>
