<%- include('../templates/head') %>

<main class="container">
  <h1>Sobre Nosotros</h1>
  <p>Somos Integra Health & Sport, centro de entrenamiento y salud integral.</p>
</main>

<%- include('../templates/footer') %>
